<div class="newblog-section">
    <h1>Create New Blog</h1><br>
    <div class="form-input">
        <form action="/blogs" method="POST">
            <input type="text" name="title" placeholder="Title Blog.." required>
            <input type="text" name="snippet" placeholder="Snippet Blog.." required>
            <textarea name="body" id="" cols="30" rows="10" placeholder="Body Blog.."></textarea><br>
    
            <button type="submit">Submit</button>
        </form>
    </div>
</div>