<div class="homepage-section">
    <h1>Homepage Blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam debitis tempora excepturi ullam. At ipsam quis voluptate quos vel laboriosam corporis laborum laudantium? Sequi nisi adipisci accusamus nemo hic omnis exercitationem reprehenderit. Earum in assumenda cupiditate. Doloribus reprehenderit officiis at facere totam nostrum omnis?</p>
</div>